<h1>Yar.</h1>
<p>Ahoy, ye scurvy dogs, and welcome to the Double Prime Pirate Contest.</p>

<%= link_to "Sign Up and Get Started", new_user_session_path, :class => "btn btn-outline-inverse btn-lg" %>
