<% @masthead = %Q|
    <h1>Yar.</h1>
    <p>Ahoy, ye scurvy dogs, and welcome to the Double Prime Pirate Contest.</p>
    |
%>

<section id="your-submission">
  <h4>Dare ye t'enter the photo contest?</h4>
  <%= link_to "Upload Your Photo", new_post_path, :class => "btn btn-lg btn-primary" %>
</section>

<section id="vote">
  <h4>Think yer the captain, do ye? Why not vote for yer favorite entries?</h4>
  <%= link_to "Vote", posts_path, :class => "btn btn-lg btn-primary" %>
</section>

<section id="dubloon-guessing">
  <h4>If it's gold dubloons ye be seeking, this be the place for you!</h4>
  <%= link_to "Guess The Gold", front_path, :class => "btn btn-lg btn-primary" %>
</section>
