<% @masthead = " 
  <h1>So what say ye? Which of these swarthy corsairs deserve yer accolades?</h1>
  <p>Click a photo t' see it all big, 'r just like it on the spot.</p>
  "
%>

<section id="photo-grid">
  <%= render @photos %>
</section>

