<% @masthead = " 
  <h1>#{@photo.caption}</h1>
  <p>From #{link_to @photo.user.name}</p>
  "
%>
<div class="big-photo">
  <a href="<%= @photo.image.url %>"><%= image_tag @photo.image.url(:full) %></a>
</div>
