body { background-color:  white;}
a {color: $color-primary;}
.dpcontests-nav { margin-bottom: 0;}
.navbar-default .navbar-brand {color: $color-primary; }

#notice { color: green; }
.field_with_errors { padding: 2px; background-color: red; display: table; }
#error_explanation { border: 2px solid red; padding: 7px; padding-bottom: 0; margin-bottom: 20px; background-color: #f0f0f0;
    h2 { text-align: left; font-weight: bold; padding: 5px 5px 5px 15px; font-size: 12px; margin: -7px; margin-bottom: 0px; background-color: #c00; color: #fff; }
    ul li { font-size: 12px; list-style: square; } 
}

.masthead {background-color: $color-primary; color: $color-tertiary; padding-top: 2em; padding-bottom: 2em; 
  h1 {font-size: 3em;}
  p {font-size: 1.6em; font-weight: 300;}
}

/****** Sign up / Sign in ******/
/*-----------------------------*/
section#sign_up { @include span-columns(6); }
section#sign_in { @include span-columns(6 omega); }

.authentication { float: left; background-color: #EEE; border: solid 1px #999; padding: 5px 10px; position: relative; margin-right: 10px; @include border-radius($default-border-radius); 
    .remove { text-decoration: none; position: absolute; top: 4px; right: 3px; color: #333; padding: 2px 4px; font-size: 10px; 
        &:hover { color: #FFF; background-color: #777; @include border-radius($default-border-radius); }
    }
    img { float: left; }
    .provider, .uid { margin-left: 38px; margin-right: 20px; }
    .provider { font-weight: bold; }
    .uid { color: #666; font-size: 11px; }
}
.auth_provider { float: left; text-decoration: none; margin-right: 20px; text-align: center; margin-bottom: 10px; 
    .auth_provider img { display: block; }
}


/****** MEDIA QUERIES ********/
/*---------------------------*/

@media only screen and (min-width: 320px) {
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1025px) {
}
