body { background-color:  white;}
a {color: $color-primary;}
.dpcontests-nav { margin-bottom: 0;}
.navbar-default .navbar-brand {color: $color-primary; }

#notice { color: $brand-success; }
.field_with_errors { padding: 2px; background-color: $brand-danger; display: table; }
#error_explanation { border: 2px solid red; padding: 7px; padding-bottom: 0; margin-bottom: 20px; background-color: #f0f0f0;
    h2 { text-align: left; font-weight: bold; padding: 5px 5px 5px 15px; font-size: 12px; margin: -7px; margin-bottom: 0px; background-color: #c00; color: #fff; }
    ul li { font-size: 12px; list-style: square; } 
}
.alert {margin-bottom: 0; font-size: 1.2em; font-weight: 400; text-align: center}
.alert-error {background-color: $brand-danger; color: #fff8f8;}

main { background-color: white;}
.masthead {
  background-color: $color-primary; 
  color: $color-tertiary; 
  padding: 2em 0;
  text-align: center;

  h1 {font-size: 3em;}
  p {font-size: 1.6em; font-weight: 300;}
  a {color: $color-tertiary; text-decoration: underline;
    &.btn {text-decoration: none;}
  }
}
.content {padding: 2em 0;}

footer { padding: 2em 0;
  .info {float: right}
  @media screen and (max-width: $break-ils) {
    text-align: center;
    .info {float: none; display: block; margin-top: 1em;}
  }
}

body#coming_soon {
  li.usernav, li.about {display: none;}
}

/***** FORMS *****/
form { margin-bottom: 1em;
    field, .input-group {
      margin: 1em 0; 
      width: 100%;
        input, textarea { width: 100%; }
    }
    .field {
      input { @extend .input-control }
    }
}
ul.devise-links {
  padding-left: 0;
  list-style-type: none;
  li { margin: 0 0 1em 0;}
}


/******* LANDING *********/
section#your-submission { @include span-columns(4); }
section#vote { @include span-columns(4); }
section#dubloon-guessing { @include span-columns(4 omega); }

@media screen and (max-width: $break-android_ls) {
  section#your-submission { @include span-columns(12); }
  section#vote { @include span-columns(12); }
  section#dubloon-guessing { @include span-columns(12 omega); }
}

body#front section {
  h4 {height: 4em; font-weight: 300; padding-left: 2px;}
  a.btn {width: 100%; text-align: center;}
}


/******* PHOTO PAGE *******/
.big-photo {text-align: center; 
  a {
    display: inline-block;
    background-color: $color-tertiary; 
    border: 1px solid #ccc;
    padding: 1em 1em 3em 1em; 
    @include border-radius(2px);
    img {
      max-width: 100%;
    }
  }
}
#photo-grid {
  .photo { @include span-columns(3);
    a.photo-link {
      display: block;
      text-align: center;
      background-color: $color-tertiary; 
      border: 1px solid #ccc;
      padding: 1em 1em 3em 1em; 
      @include border-radius(2px);
      img {
        max-width: 100%;
      }
      .caption {margin-top: 0.8em; color: $text-color}
    }
    .admin {margin-top: 1em;
      .delete {float: right;}
    }
  }
}

/****** Sign up / Sign in ******/
/*-----------------------------*/
section#sign_up { @include span-columns(6); }
section#sign_in { @include span-columns(6 omega); }
@media screen and (max-width: $break-ils) {
  section#sign_up { @include span-columns(12); }
  section#sign_in { @include span-columns(12 omega); }
}

.authentication { float: left; background-color: #EEE; border: solid 1px #999; padding: 5px 10px; position: relative; margin-right: 10px; @include border-radius($default-border-radius); 
    .remove { text-decoration: none; position: absolute; top: 4px; right: 3px; color: #333; padding: 2px 4px; font-size: 10px; 
        &:hover { color: #FFF; background-color: #777; @include border-radius($default-border-radius); }
    }
    img { float: left; }
    .provider, .uid { margin-left: 38px; margin-right: 20px; }
    .provider { font-weight: bold; }
    .uid { color: #666; font-size: 11px; }
}
.auth_provider { float: left; text-decoration: none; margin-right: 20px; text-align: center; margin-bottom: 10px; 
    .auth_provider img { display: block; }
}

/* Outline button for use within the docs */
.btn-outline {
  color: $color-primary;
  background-color: transparent;
  border-color: #e5e5e5;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
  color: #fff;
  background-color: #563d7c;
  border-color: #563d7c;
}

/* Inverted outline button (white on dark) */
.btn-outline-inverse {
  color: #fff;
  background-color: transparent;
  border-color: white;
}
.btn-outline-inverse:hover,
.btn-outline-inverse:focus,
.btn-outline-inverse:active {
  color: $color-primary;
  text-shadow: none;
  background-color: #fff;
  border-color: #fff;
}


/****** MEDIA QUERIES ********/
/*---------------------------*/

@media only screen and (min-width: 320px) {
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1025px) {
}
