// SUSY grid settings
@include border-box-sizing;
$total-columns: 12;
$column-width: 4em;
$gutter-width: 4em;
$grid-padding: $gutter-width; 

// Compass & Theme variables
$default-border-radius: 5px; 
$light-letterpress-textshadow: 0 2px 3px #fff;
$dark_boxshadow: #333 0px 2px 4px;
$light_boxshadow: #ccc 0px 2px 4px;
$under_boxshadow: #999 0px 8px 6px -6px;

$brand-primary: #005186;
$color-primary: $brand-primary;
$color-tertiary: #f8f8f8;
$color-light-grey: #c8c8c8;

$break-iport: 320px;
$break-ils: 480px;
$break-android_ls: 640px;
$break-pc-normal: 980px;
